<h1>新規投稿ページ</h1>
<h3>新規投稿ページ</h3>
<%= form_for @tweet do |f| %>

    <div class="field">
    <%= f.label :呼び出し  %>
    <%= f.number_field :number, :size => 10 %>
  </div>

  <%= f.submit "投稿する" %>
  <% end %>
  
  <%= link_to "一覧に戻る", tweets_path %>
