<body>
    <div class="topimage">
        <%= image_tag("oruto.jpg", class: "topimg") %>
    </div>

    <div class="second">
        <div class="secondimage">
            <%= image_tag("organic.jpg", class: "secondimg") %>
        </div>
        <div class="secondimage">
            <%= image_tag("cheese.jpg", class: "secondimg") %>
        </div>
        <div class="secondimage">
            <%= image_tag("semi.jpg", class: "secondimg") %>
        </div>
        <div class="secondimage">
            <%= image_tag("halloween.jpg", class: "secondimg") %>
        </div>
        <div class="secondimage">
            <%= image_tag("drink.jpg", class: "secondimg") %>
        </div>
       
    </div>
    
    <div class="third">
        
        <div class="text">
        <li>ファールニエンテ</li>
        <li>横浜市営地下鉄下飯田駅降りてすぐのパン屋さんと食堂　野菜直売のお店</li>
        <li>営業時間　ベーカリー　10:00～18:00</li>
                 食堂　　　　11:00～16:45（ラストオーダー）
                 カフェのみの利用は15:00～
        </div>

        <div class="thirdimage">
            <%= image_tag("gaikann.jpg", class:"thirdimg") %>
        </div>

    </div>