<!DOCTYPE html>
<html>
  <head>
    <title>Farniente</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  <div class="header-logo">
    <h1>Farniente</h1>
  </div>
  <div class="openbtn"><span></span><span></span><span></span></div>
  <nav id="g-nav">
    <div id="g-nav-list">  
      <ul>
      <li><%= link_to "TOP", root_path %></li>
      <li><%= link_to "Farnienteについて", tweets_about_path %></li>
      <li><%= link_to "レストランメニュー",tweets_menu_path %></li>
      <li><%= link_to "ベーカリーについて",tweets_bread_path %></li>
      <li><%= link_to "求人情報",tweets_kyujin_path %></li>
   
      </ul>  
    </div>
  </nav>
</header>
   
   <main>
    <%= yield %>
  </main>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    </body>
</html>

<script>
$(".openbtn").click(function () {
 $(this).toggleClass("active");
 $("#g-nav").toggleClass("panelactive");
});
$("#g-nav a").click(function () {
 $(".openbtn").removeClass("active");
 $("#g-nav").removeClass("panelactive");
});
</script>
